.account-login-top-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0px 0px 0px;
  margin: 0;
  h1 {
    margin: 0px;
    padding: 0px 0px 9px 0px;
    font-size: 30px;
    border-bottom: 2px solid #d9121f;
    font-weight: 500;
    display: inline-block;
  }
}
.account-login-top {
  ul {
    padding: 20px 0 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li {
    list-style-type: none;
    display: inline-block;
    gap: 10px;
    font-size: 13px;
  }
}

.new-customer {
  .btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    // color: #fff !important;
    font-size: 11px !important;
    line-height: 1.6;
    font-weight: 600;
    text-transform: uppercase;
    padding: 13px 38px 10px 38px;
    margin: 5px 0px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    background: #d9121f;
    outline: none;
    -webkit-font-smoothing: subpixel-antialiased !important;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.list-box {
  hr {
    margin: 0px;
  }
  list-style: none;
  margin: 0px;
  padding: 10px 0px;
  border: 2px solid red;
  li {
    padding: 7px 30px 7px 30px;
    line-height: 20px;
    a {
      color: #333333;
      line-height: 1.6;
      text-decoration: none;
    }
  }
}
